body {
  background-color: #f4f4f4;
  background-image: -webkit-linear-gradient(-135deg, transparent 20%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.1) 30%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.1) 80%, transparent 80%), -webkit-linear-gradient(135deg, transparent 20%, #dedede 20%, #dedede 30%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.1) 40%, transparent 40%, transparent 70%, #dedede 70%, #dedede 80%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.1) 90%, transparent 90%);
  background-image: -moz-linear-gradient(-135deg, transparent 20%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.1) 30%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.1) 80%, transparent 80%, transparent 100%), -moz-linear-gradient(135deg, transparent 20%, #dedede 20%, #dedede 30%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.1) 40%, transparent 40%, transparent 70%, #dedede 70%, #dedede 80%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.1) 90%, transparent 90%, transparent 100%);
  background-image: -ms-linear-gradient(-135deg, transparent 20%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.1) 30%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.1) 80%, transparent 80%), -ms-linear-gradient(135deg, transparent 20%, #dedede 20%, #dedede 30%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.1) 40%, transparent 40%, transparent 70%, #dedede 70%, #dedede 80%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.1) 90%, transparent 90%);
  background-image: -o-linear-gradient(-135deg, transparent 20%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.1) 30%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.1) 80%, transparent 80%), -o-linear-gradient(135deg, transparent 20%, #dedede 20%, #dedede 30%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.1) 40%, transparent 40%, transparent 70%, #dedede 70%, #dedede 80%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.1) 90%, transparent 90%);
  background-image: linear-gradient(-135deg, transparent 20%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.1) 30%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.1) 80%, transparent 80%), linear-gradient(135deg, transparent 20%, #dedede 20%, #dedede 30%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.1) 40%, transparent 40%, transparent 70%, #dedede 70%, #dedede 80%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.1) 90%, transparent 90%);
  background-size: 6px 6px;
  padding-top: 7px; }

header, footer, .categoriesWrapper, .homeWrapper, .userWrapper, .cartWrapper {
  margin-left: 7.6%;
  margin-right: 8.2%; }

#navbar-brand-custom {
  margin-left: 0;
  padding-top: 25px; }

.navbar {
  min-height: 100px;
  background-color: #fff;
  border-radius: 0; }

.navbar-custom {
  margin-top: 41px;
  margin-bottom: 0; }
  .navbar-custom a {
    font-family: "Kreon", serif;
    font-size: 15px;
    color: #717171;
    margin-right: -5px; }

.navbar-default {
  border: none; }

.navbar-default .navbar-nav > li > a:hover {
  color: #437d8b; }

#nav-blog {
  margin-right: 0; }

.nav-icons {
  color: #e3e3e3;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 13px;
  margin-left: 4px; }

.nav-icons:hover {
  color: #437d8b; }

.nav-search {
  margin-left: 15px;
  margin-right: -13px;
  margin-top: 1px; }

.input-group-sm > .form-control {
  border-radius: 0;
  height: 27px;
  border-bottom: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-top: none;
  border-right: none;
  font-size: 11px;
  font-style: italic;
  padding-left: 12px;
  background-color: #f9f9f9; }

.glyphicon-search {
  font-size: 13px;
  color: #c2c2c2;
  margin-top: -3px; }

.dropdown-menu a {
  margin-right: 0; }

.caret {
  display: none; }

footer {
  background-color: #f9f9f9;
  border-top: 1px solid #ececec; }
  footer li {
    color: #929292;
    font-family: "Droid Sans", sans-serif;
    font-size: 12px;
    margin-bottom: 8px;
    margin-left: -22px; }
    footer li a {
      text-decoration: none;
      color: #929292; }
  footer h3 {
    color: #1d1d1d;
    font-family: "Kreon", serif;
    font-size: 20px;
    margin-bottom: 13px; }
  footer .container-fluid {
    padding-top: 16px;
    padding-right: 20px;
    padding-left: 31px; }
  footer img {
    width: 142px;
    height: 36px;
    margin-top: 22px;
    margin-bottom: 7px; }
  footer p {
    color: #929292;
    font-family: "Droid Sans", sans-serif;
    font-size: 12px; }
  footer .copyright {
    font-size: 12px;
    font-family: "Kreon", serif;
    color: #717171; }
  footer .footerText {
    margin-left: 3px; }

.categoriesWrapper {
  background-color: #fff;
  font-family: "Kreon", serif; }
  .categoriesWrapper a {
    text-decoration: none;
    color: #929292; }
  .categoriesWrapper h1 {
    font-size: 27px;
    margin-bottom: 6px; }
  .categoriesWrapper h3 {
    font-size: 20px;
    color: #929292;
    margin-top: 0; }
  .categoriesWrapper h4 {
    font-family: "Kreon", serif;
    font-size: 28px; }
    .categoriesWrapper h4 a {
      color: #1d1d1d; }
  .categoriesWrapper .img-thumbnail {
    width: auto;
    height: 200px; }
  .categoriesWrapper .breadcrumbs {
    margin-top: 11px;
    font-size: 14px; }
  .categoriesWrapper .container-fluid {
    padding-left: 5%;
    padding-right: 5%; }
  .categoriesWrapper .titleWrapper {
    background: -moz-linear-gradient(top, #fafafa 0%, #ffffff 41%, #ffffff 49%, #ffffff 58%, #fafafa 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fafafa 0%, #ffffff 41%, #ffffff 49%, #ffffff 58%, #fafafa 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fafafa 0%, #ffffff 41%, #ffffff 49%, #ffffff 58%, #fafafa 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=0 );
    /* IE6-9 */
    margin-top: 25px;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 26px;
    margin-bottom: 22px; }
  .categoriesWrapper .categorySubtitle {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-bottom: 17px; }
    .categoriesWrapper .categorySubtitle p {
      font-size: 15px;
      color: black;
      margin-bottom: 0; }
  .categoriesWrapper .categoryDescription {
    display: flex;
    font-family: "Droid Sans", sans-serif;
    font-size: 12px;
    color: #929292; }
  .categoriesWrapper #categoryDescriptionWrapper {
    padding-left: 0; }
  .categoriesWrapper .category {
    margin-bottom: 75px; }
    .categoriesWrapper .category h4 {
      margin-bottom: 15px; }
    .categoriesWrapper .category .row {
      margin-bottom: 17px; }
    .categoriesWrapper .category .btn {
      float: right; }
    .categoriesWrapper .category #wishlistBtn {
      margin-right: 5px; }
  .categoriesWrapper aside {
    margin-top: 11px;
    margin-left: 29px; }
    .categoriesWrapper aside ul {
      margin-bottom: 34px; }
    .categoriesWrapper aside li {
      color: #929292;
      font-family: "Droid Sans", sans-serif;
      font-size: 12px;
      margin-bottom: 8px;
      margin-left: -22px;
      margin-left: -25px; }
      .categoriesWrapper aside li a {
        text-decoration: none;
        color: #929292; }
    .categoriesWrapper aside h3 {
      color: #1d1d1d;
      font-size: 20px; }
  .categoriesWrapper .comments {
    margin-top: 48px; }
  .categoriesWrapper .comment-photo {
    width: 68px;
    height: 68px;
    float: left;
    margin-right: 16px; }
  .categoriesWrapper .commentsWrapper {
    background: #fafafa;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fafafa 0%, #ffffff 21%, #ffffff 83%, #fafafa 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fafafa 0%, #ffffff 21%, #ffffff 83%, #fafafa 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fafafa 0%, #ffffff 21%, #ffffff 83%, #fafafa 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #f0f0f0;
    padding: 16px 12px 12px 16px;
    margin-bottom: 27px; }
    .categoriesWrapper .commentsWrapper h3 {
      font-family: "Kreon", serif;
      font-size: 20px;
      color: #1d1d1d;
      display: inline-block; }
    .categoriesWrapper .commentsWrapper .date {
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #d4d4d4;
      font-size: 12px;
      font-style: italic;
      float: right; }
    .categoriesWrapper .commentsWrapper .categoryDescription:after {
      content: "";
      position: absolute;
      border: 0;
      border-right-width: 30px;
      border-bottom-width: 20px;
      border-style: solid;
      border-color: transparent #f0f0f0;
      display: block;
      width: 0;
      margin-top: 23px;
      right: 60px; }
  .categoriesWrapper .commentsWrapper:after {
    content: "";
    position: absolute;
    border: 0;
    border-right-width: 10px;
    border-bottom-width: 20px;
    border-style: solid;
    border-color: transparent #fff;
    display: block;
    width: 0;
    margin-top: 13px;
    right: 60px; }
  .categoriesWrapper .slick-prev .slick-arrow {
    display: none !important; }
  .categoriesWrapper .slick-arrow::before {
    display: none; }
  .categoriesWrapper .aboutBlock {
    margin-top: 20px; }
    .categoriesWrapper .aboutBlock h3 {
      color: black; }
  .categoriesWrapper #uploader {
    width: 100%; }

.homeWrapper {
  background-color: #fff;
  font-family: "Kreon", serif; }
  .homeWrapper .sliderTop .slick-next {
    right: 0; }
  .homeWrapper .sliderTop .slick-prev {
    left: 0;
    z-index: 99; }
  .homeWrapper .sliderTop .slick-prev:before, .homeWrapper .sliderTop .slick-next:before {
    font-size: 20px;
    opacity: 0.75; }
  .homeWrapper .sliderTop .slick-dots {
    position: relative;
    margin-top: 13px;
    bottom: 0; }
  .homeWrapper .sliderTop .slick-slider {
    margin-bottom: 0; }
  .homeWrapper .sliderImage {
    height: 330px;
    width: 100%; }
  .homeWrapper .container-fluid {
    padding-left: 19px;
    padding-top: 12px; }
  .homeWrapper .caption {
    font-family: "Kreon", serif;
    position: absolute;
    bottom: 29%;
    padding: 27px 30px 40px 40px;
    min-height: 38px;
    background-color: #565657;
    opacity: 0.5;
    margin-left: 13%; }
    .homeWrapper .caption .captionHeader {
      font-size: 28px;
      color: #fff;
      margin-bottom: 5px; }
    .homeWrapper .caption .captionBody {
      font-family: "Droid Sans", sans-serif;
      font-size: 12px;
      color: #fff;
      margin-bottom: 10px; }
    .homeWrapper .caption .captionButton {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 10px;
      background-color: #100402;
      opacity: 1; }
    .homeWrapper .caption a {
      text-decoration: none;
      color: #7b9297; }
    .homeWrapper .caption a:hover {
      color: #7b9297; }
  .homeWrapper .subNav {
    background-color: #fff;
    background-image: -webkit-repeating-linear-gradient(135deg, #f6f6f7, #f6f6f7 1px, transparent 2px, transparent 2px, #f6f6f7 3px);
    background-image: -moz-repeating-linear-gradient(135deg, #f6f6f7, #f6f6f7 1px, transparent 2px, transparent 2px, #f6f6f7 3px);
    background-image: -o-repeating-linear-gradient(135deg, #f6f6f7, #f6f6f7 1px, transparent 2px, transparent 2px, #f6f6f7 3px);
    background-image: repeating-linear-gradient(135deg, #f6f6f7, #f6f6f7 1px, transparent 2px, transparent 2px, #f6f6f7 3px);
    -webkit-background-size: 4px 4px;
    -moz-background-size: 4px 4px;
    background-size: 4px 4px;
    border-top: 2px solid #e8e8e8;
    box-shadow: inset 0px 1px 9px -6px;
    font-family: "Kreon", serif;
    font-size: 15px; }
    .homeWrapper .subNav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-bottom: 15px; }
    .homeWrapper .subNav li {
      display: inline-block;
      margin-right: 16px; }
      .homeWrapper .subNav li a {
        color: #717171; }
      .homeWrapper .subNav li a:hover {
        color: #427c8a;
        text-decoration: none; }
  .homeWrapper .bodyWrapper {
    margin-top: 8px; }
    .homeWrapper .bodyWrapper .container-fluid {
      padding-left: 36px;
      padding-right: 36px; }
    .homeWrapper .bodyWrapper .homeHeadline {
      border-bottom: 1px solid #f0f0f0;
      border-top: 1px solid #f0f0f0;
      text-align: center;
      padding-top: 16px;
      padding-bottom: 16px;
      margin-bottom: 21px; }
      .homeWrapper .bodyWrapper .homeHeadline h2 {
        color: #1d1d1d;
        font-size: 23px; }
      .homeWrapper .bodyWrapper .homeHeadline p {
        font-size: 15px;
        color: #929292; }
    .homeWrapper .bodyWrapper img {
      width: 240px;
      height: 126px; }
    .homeWrapper .bodyWrapper .row {
      margin-left: -1px;
      margin-bottom: 14px; }
      .homeWrapper .bodyWrapper .row p {
        font-family: "Droid Sans", sans-serif;
        color: #929292;
        font-size: 12px;
        margin-top: 14px;
        width: 238px; }
      .homeWrapper .bodyWrapper .row li {
        color: #929292;
        font-family: "Droid Sans", sans-serif;
        font-size: 12px;
        margin-bottom: 8px;
        margin-left: -22px; }
        .homeWrapper .bodyWrapper .row li a {
          text-decoration: none;
          color: #929292; }
    .homeWrapper .bodyWrapper h3 {
      font-size: 20px;
      color: #1d1d1d; }
  .homeWrapper .sliderBottomWrapper {
    padding: 5px 8px;
    border: 1px solid #f0f0f0; }
  .homeWrapper .sliderBottom img {
    height: 130px;
    width: 100px; }
  .homeWrapper .sliderBottom .slick-next:before {
    color: #717171; }
  .homeWrapper .sliderBottom .slick-prev:before {
    color: #717171; }

.userWrapper {
  background-color: #fff;
  padding: 10px; }
  .userWrapper .nav-tabs {
    margin-bottom: 10px; }

#tb-material-text {
  height: 170px; }

.fanfictionBtnWrapper {
  margin-bottom: 20px;
  margin-top: 10px; }

.cartWrapper {
  background-color: #fff;
  font-family: "Kreon", serif; }
  .cartWrapper a {
    text-decoration: none;
    color: #929292; }
  .cartWrapper p {
    font-size: 15px; }
  .cartWrapper h1 {
    font-size: 27px;
    margin-bottom: 6px; }
  .cartWrapper h3 {
    font-size: 20px;
    color: #929292;
    margin-top: 0;
    margin-bottom: 0; }
  .cartWrapper .breadcrumbs {
    margin-top: 11px;
    font-size: 14px; }
  .cartWrapper .title {
    background: -moz-linear-gradient(top, #fafafa 0%, #ffffff 41%, #ffffff 49%, #ffffff 58%, #fafafa 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fafafa 0%, #ffffff 41%, #ffffff 49%, #ffffff 58%, #fafafa 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fafafa 0%, #ffffff 41%, #ffffff 49%, #ffffff 58%, #fafafa 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=0 );
    /* IE6-9 */
    margin-top: 25px;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 26px;
    margin-bottom: 22px; }
  .cartWrapper .container-fluid {
    padding-left: 5%;
    padding-right: 5%; }
  .cartWrapper .cartTitle {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-bottom: 10px; }
    .cartWrapper .cartTitle p {
      font-size: 15px;
      color: black;
      margin-bottom: 0; }
    .cartWrapper .cartTitle a {
      color: black; }
  .cartWrapper .bodyWrapepr .col-md-8 {
    padding-left: 0; }
  .cartWrapper .bodyWrapepr .img-thumbnail {
    width: auto;
    height: 100px; }
  .cartWrapper .cartItem {
    margin-bottom: 25px; }
  .cartWrapper .jumbotron {
    background-color: #fafafa; }
  .cartWrapper aside {
    margin-top: 11px;
    margin-left: 29px; }
    .cartWrapper aside ul {
      margin-bottom: 34px; }
    .cartWrapper aside li {
      color: #929292;
      font-family: "Droid Sans", sans-serif;
      font-size: 12px;
      margin-bottom: 8px;
      margin-left: -22px;
      margin-left: -25px; }
      .cartWrapper aside li a {
        text-decoration: none;
        color: #929292; }
    .cartWrapper aside h3 {
      color: #1d1d1d;
      font-size: 20px;
      margin-bottom: 10px; }

@media (max-width: 991px) {
  .homeWrapper .caption {
    margin-left: 10%; }
  .homeWrapper .bodyWrapper .row p {
    width: 100%; }
  .bottomSlider {
    display: none; }
  .categoriesWrapper aside {
    margin-left: 0;
    margin-top: 25px; }
  .categoriesWrapper #categoryDescriptionWrapper {
    margin-top: 10px;
    padding-left: 15px; }
  .cartImage {
    float: left; }
  .wishlistAside {
    display: none; } }

@media (max-width: 768px) {
  header, footer, .categoriesWrapper, .homeWrapper, .userWrapper, .cartWrapper {
    margin-left: 0;
    margin-right: 0; }
  .navbar {
    min-height: 53px; }
  #navbar-brand-custom {
    padding-top: 9px; }
    #navbar-brand-custom img {
      width: 160px; } }

@media (max-width: 767px) {
  .nav-icons {
    display: none; }
  .nav-search {
    margin-top: 8px;
    margin-left: 0; }
    .nav-search .input-group {
      width: 100%;
      padding-right: 7px; }
    .nav-search .input-group-sm .form-control {
      height: 32px; }
  .navbar-custom {
    margin-top: 0; }
  .navbar-nav {
    margin: 0; }
  .subNav {
    display: none; }
  .categoriesWrapper .comments {
    margin-top: 65px; } }

@media (max-width: 700px) {
  .homeWrapper .caption {
    margin-left: 0; } }

@media (max-width: 600px) {
  .categoriesWrapper .sliderAboutWrapper {
    display: none; } }

@media (max-width: 370px) {
  .homeWrapper .caption {
    padding: 27px 0 40px 0; } }
