@media (max-width: 991px){
    .homeWrapper{
        .caption{
            margin-left: 10%;
        }
    }
    .homeWrapper{
        .bodyWrapper {
            .row{
                p{
                    width: 100%;
                }
            }
        }
    }
    .bottomSlider{
        display: none;
    }
    .categoriesWrapper{
            aside{
                margin-left: 0;
                margin-top: 25px;
            }
            #categoryDescriptionWrapper{
                margin-top: 10px;
                padding-left: 15px;
            }
    }
    .cartImage{
        float: left;
    }
    .wishlistAside{
        display: none;
    }
}

@media (max-width: 768px){
    header{
        margin-left: 0;
        margin-right: 0;
    }
    .navbar{
        min-height: 53px;
    }   
    #navbar-brand-custom{
        padding-top: 9px;
        img{
            width: 160px;
        }
    }
}
@media (max-width: 767px){
    .nav-icons{
        display: none;
    }
    // .nav-search{
    //         .input-group{
    //             display: none;
    //         }
    // }
    .nav-search{
        margin-top: 8px;
        margin-left: 0;
            .input-group{
                width: 100%;
                padding-right: 7px;
            }
            .input-group-sm {
                .form-control{
                    height: 32px;
                }
            }
    }
    .navbar-custom{
        margin-top: 0;
    }
    .navbar-nav{
        margin: 0;
    }
    .subNav{
        display: none;
    }
    .categoriesWrapper .comments{
        margin-top: 65px;
    }
}


@media (max-width: 700px){
    .homeWrapper{
        .caption{
            margin-left: 0;
        }
    }
}

@media (max-width: 600px){
    .categoriesWrapper{
            .sliderAboutWrapper{
                display: none;
            }
    }
}

@media (max-width: 400px){
    // #slideImage{
    //     height: 197px !important;
    // }
}

@media (max-width: 370px){
    .homeWrapper{
        .caption{
            padding: 27px 0 40px 0;
        }
    }
}