<div class="homeWrapper">
    <div class="subNav container-fluid">
        <ul>
            <li>
                <a href="#/book-categories/Dark-Fantasy">DARK FANTASY</a>
            </li>
            <li>
                <a href="#/book-categories/Epic-Fantasy">EPIC FANTASY</a>
            </li>
            <li>
                <a href="#/book-categories/Romantic-Fantasy">ROMANTIC FANTASY</a>
            </li>
            <li>
                <a href="#/book-categories/Sci-fi-Fantasy">SCI-FI FANTASY</a>
            </li>
            <li>
                <a href="#/book-categories/Vampire-Fantasy">VAMPIRE FANTASY</a>
            </li>
            <li>
                <a href="#/book-categories/Young-Adult-Fantasy">YOUNG ADULT FANTASY</a>
            </li>
        </ul>
    </div>
    <div class="sliderTop single-item">
        <div>
            <img src="./../css/images/epic-fantasy.jpg" class="sliderImage"></img>
            <div class="caption">
                <p class="captionHeader">
                    Epic Fantsy Books
                </p>
                <p class="captionBody">
                    Browse All Epic Fantsy Books
                </p>
                <a href="#/book-categories/Epic-Fantasy">
                    <div class="captionButton">
                        Browse Books
                    </div>
                </a>
            </div>
        </div>
        <div>
            <img src="./../css/images/sci-fi-fantasy.jpg" class="sliderImage"></img>
            <div class="caption">
                <p class="captionHeader">
                    Sci-Fi Fantsy Books
                </p>
                <p class="captionBody">
                    Browse All Sci-Fi Fantsy Books
                </p>
                <a href="#/book-categories/Sci-fi-Fantasy">
                    <div class="captionButton">
                        Browse Books
                    </div>
                </a>
            </div>
        </div>
        <div>
            <img src="./../css/images/dark-fantasy.jpg" class="sliderImage"></img>
            <div class="caption">
                <p class="captionHeader">
                    Dark Fantsy Books
                </p>
                <p class="captionBody">
                    Browse All Dark Fantsy Books
                </p>
                <a href="#/book-categories/Dark-Fantasy">
                    <div class="captionButton">
                        Browse Books
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="bodyWrapper">
        <div class="container-fluid">
            <div class="homeHeadline">
                <h2>
                    All your favorite Fantasy Books in one place
                </h2>
                <p>
                    Share your Fan Fiction stories with others
                </p>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h3>
                        Fantasy Books
                    </h3>
                    <img src="../css/images/books.jpg" class="img-thumbnail">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima laboriosam veritatis, ab sunt optio ut repellat perferendis
                        ratione autem reiciendis.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h3>
                        Fanfiction
                    </h3>
                    <img src="../css/images/fiction.jpg" class="img-thumbnail">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima laboriosam veritatis, ab sunt optio ut repellat perferendis
                        ratione autem reiciendis.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h3>
                        Latest Epic Fantasy Books
                    </h3>
                    <img src="../css/images/epic.jpg" class="img-thumbnail">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima laboriosam veritatis, ab sunt optio ut repellat perferendis
                        ratione autem reiciendis.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h3>
                        Best Sellers
                    </h3>
                    <ul>
                        <li>
                            <a href="#/book-categories/Dark-Fantasy/The-Blood-Mirror">The Blood Mirror</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Epic-Fantasy/Reign-of-Madness">Reign of Madness</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Romantic-Fantasy/Graceling">Graceling</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Sci-fi-Fantasy/Dune">Dune</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Vampire-Fantasy/Dracula">Dracula</a>
                        </li>
                        <li>
                            <a href="#/book-categories/Young-Adult-Fantasy/Everlost">Everlost</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 bottomSlider">
                    <h3>
                        Best Sellers
                    </h3>
                    <div class="sliderBottomWrapper">
                        <div class="sliderBottom multiple-items">
                            <div>
                                <a href="#/book-categories/Epic-Fantasy/Arcanum-Unbounded-The-Cosmere-Collection">
                                    <img src="../css/images/Book-1.jpg">
                                </a>
                            </div>
                            <div>
                                <a href="#/book-categories/Romantic-Fantasy/City-of-Bones">
                                    <img src="../css/images/Book-2.jpg">
                                </a>
                            </div>
                            <div>
                                <a href="#/book-categories/Sci-fi-Fantasy/Dune">
                                    <img src="../css/images/Book-3.jpg">
                                </a>
                            </div>
                            <div>
                                <a href="#/book-categories/Romantic-Fantasy/Fire">
                                    <img src="../css/images/Book-4.jpg">
                                </a>
                            </div>
                            <div>
                                <a href="#/book-categories/Epic-Fantasy/Half-a-King">
                                    <img src="../css/images/Book-5.jpg">
                                </a>
                            </div>
                            <div>
                                <a href="#/book-categories/Dark-Fantasy/Murder-of-Crows">
                                    <img src="../css/images/Book-6.jpg">
                                </a>
                            </div>
                            <div>
                                <a href="#/book-categories/Epic-Fantasy/Reign-of-Madness">
                                    <img src="../css/images/Book-7.jpg">
                                </a>
                            </div>
                            <div>
                                <a href="#/book-categories/Epic-Fantasy/The-Blood-Mirror">
                                    <img src="../css/images/Book-8.jpg">
                                </a>
                            </div>
                            {{!--<div>
                                <img src="../css/images/Book-9.jpg">
                            </div>--}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.single-item').slick({
        dots: true
    });

    $('.multiple-items').slick({
        dots: false,
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 4
    });
</script>