<div class="homeWrapper">
    <div class="slider single-item">
        <div>
            <img src="./../css/images/dark-fantasy.jpg" class="sliderImage">
            <div class="caption">Slide 1 Caption</div>
        </div>
        <div><img src="./../css/images/epic-fantasy.jpg" class="sliderImage"></div>
        <div><img src="./../css/images/romantic-fantasy.jpg" class="sliderImage"></div>
        <div><img src="./../css/images/sci-fi-fantasy.jpg" class="sliderImage"></div>
        
        
        
    </div>
</div>







<script>
    $('.single-item').slick({
        dots: true 
    });
</script>