<div class="homeWrapper">
    <div class="slider single-item">
        <div>
            <img src="./../css/images/sci-fi-fantasy.jpg" class="sliderImage">
            <div class="caption">
                <p class="captionHeader">
                    Sci-Fi Fantsy Books
                </p>
                <p class="captionBody">
                    Browse All Sci-Fi Fantsy Books
                </p>
                <a href="#/book-categories/Sci-fi-Fantasy">
                    <div class="captionButton">
                        Browse Books
                    </div>
                </a>
            </div>
        </div>
        <div>
            <img src="./../css/images/epic-fantasy.jpg" class="sliderImage">
            <div class="caption">
                <p class="captionHeader">
                    Epic Fantsy Books
                </p>
                <p class="captionBody">
                    Browse All Epic Fantsy Books
                </p>
                <a href="#/book-categories/Epic-Fantasy">
                    <div class="captionButton">
                        Browse Books
                    </div>
                </a>
            </div>
        </div>
        <div>
            <img src="./../css/images/dark-fantasy.jpg" class="sliderImage">
            <div class="caption">
                <p class="captionHeader">
                    Dark Fantsy Books
                </p>
                <p class="captionBody">
                    Browse All Dark Fantsy Books
                </p>
                <a href="#/book-categories/Dark-Fantasy">
                    <div class="captionButton">
                        Browse Books
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $('.single-item').slick({
        dots: true
    });
</script>