<h2>Add new material</h2>
<div class="form-group">
    <label for="tb-material-text">Title: </label>
    <input id="tb-material-title" class="form-control">
</div>
<div class="form-group">
    <label for="tb-material-des">Description: </label>
    <input id="tb-material-text" class="form-control">
</div>
<div class="form-group">
    <label for="tb-material-link">Image Link: (Optional) </label>
    <input id="tb-material-link" class="form-control">
</div>
<button class="btn btn-warning" id="btn-add">Add Material</button>