@mixin gradintTitle {
    background: -moz-linear-gradient(top,  #fafafa 0%, #ffffff 41%, #ffffff 49%, #ffffff 58%, #fafafa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fafafa 0%,#ffffff 41%,#ffffff 49%,#ffffff 58%,#fafafa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fafafa 0%,#ffffff 41%,#ffffff 49%,#ffffff 58%,#fafafa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}

@mixin unorderedList {
    color: $links-color;
            font-family: $links-stack;
            font-size: 12px;
            margin-bottom: 8px;
            margin-left: -22px;
                a {
                    text-decoration: none;
                    color: $links-color;
                }
}

@mixin pageTitle{
    margin-top: 25px;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 26px;
    margin-bottom: 22px;
}

@mixin gradintComments {
    background: #fafafa; /* Old browsers */
    background: -moz-linear-gradient(top,  #fafafa 0%, #ffffff 21%, #ffffff 83%, #fafafa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fafafa 0%,#ffffff 21%,#ffffff 83%,#fafafa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fafafa 0%,#ffffff 21%,#ffffff 83%,#fafafa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}

@mixin subNavGradient {
    background-color: #fff;
    background-image: -webkit-repeating-linear-gradient(135deg, #f6f6f7, #f6f6f7 1px, transparent 2px, transparent 2px, #f6f6f7 3px);
    background-image: -moz-repeating-linear-gradient(135deg, #f6f6f7, #f6f6f7 1px, transparent 2px, transparent 2px, #f6f6f7 3px);
    background-image: -o-repeating-linear-gradient(135deg, #f6f6f7, #f6f6f7 1px, transparent 2px, transparent 2px, #f6f6f7 3px);
    background-image: repeating-linear-gradient(135deg, #f6f6f7, #f6f6f7 1px, transparent 2px, transparent 2px, #f6f6f7 3px);
    -webkit-background-size: 4px 4px;
    -moz-background-size: 4px 4px;
    background-size: 4px 4px;
}

@mixin bodyBackground {
    background-color: #f4f4f4;
        background-image: 
         -webkit-linear-gradient(-135deg,  
            transparent 20%, 
            rgba(0,0,0,0.1) 20%,
            rgba(0,0,0,0.1) 30%,
            transparent 30%,
            transparent 70%, 
            rgba(0,0,0,0.1) 70%,
            rgba(0,0,0,0.1) 80%,
            transparent 80%),
        -webkit-linear-gradient(135deg,  
            transparent 20%,
            #dedede 20%, 
            #dedede 30%, 
            rgba(0,0,0,0.1) 30%,
            rgba(0,0,0,0.1) 40%,
            transparent 40%, 
            transparent 70%, 
            #dedede 70%, 
            #dedede 80%, 
            rgba(0,0,0,0.1) 80%,
            rgba(0,0,0,0.1) 90%,
            transparent 90%)
        ; 
        background-image: 
         -moz-linear-gradient(-135deg,  
            transparent 20%, 
            rgba(0,0,0,0.1) 20%,
            rgba(0,0,0,0.1) 30%,
            transparent 30%,
            transparent 70%, 
            rgba(0,0,0,0.1) 70%,
            rgba(0,0,0,0.1) 80%,
            transparent 80%,
            transparent 100%),
        -moz-linear-gradient(135deg,  
            transparent 20%,
            #dedede 20%, 
            #dedede 30%, 
            rgba(0,0,0,0.1) 30%,
            rgba(0,0,0,0.1) 40%,
            transparent 40%, 
            transparent 70%, 
            #dedede 70%, 
            #dedede 80%, 
            rgba(0,0,0,0.1) 80%,
            rgba(0,0,0,0.1) 90%,
            transparent 90%,
            transparent 100%)
        ; 
        background-image: 
         -ms-linear-gradient(-135deg,  
            transparent 20%, 
            rgba(0,0,0,0.1) 20%,
            rgba(0,0,0,0.1) 30%,
            transparent 30%,
            transparent 70%, 
            rgba(0,0,0,0.1) 70%,
            rgba(0,0,0,0.1) 80%,
            transparent 80%),
        -ms-linear-gradient(135deg,  
            transparent 20%,
            #dedede 20%, 
            #dedede 30%, 
            rgba(0,0,0,0.1) 30%,
            rgba(0,0,0,0.1) 40%,
            transparent 40%, 
            transparent 70%, 
            #dedede 70%, 
            #dedede 80%, 
            rgba(0,0,0,0.1) 80%,
            rgba(0,0,0,0.1) 90%,
            transparent 90%)
        ; 
        background-image: 
         -o-linear-gradient(-135deg,  
            transparent 20%, 
            rgba(0,0,0,0.1) 20%,
            rgba(0,0,0,0.1) 30%,
            transparent 30%,
            transparent 70%, 
            rgba(0,0,0,0.1) 70%,
            rgba(0,0,0,0.1) 80%,
            transparent 80%),
        -o-linear-gradient(135deg,  
            transparent 20%,
            #dedede 20%, 
            #dedede 30%, 
            rgba(0,0,0,0.1) 30%,
            rgba(0,0,0,0.1) 40%,
            transparent 40%, 
            transparent 70%, 
            #dedede 70%, 
            #dedede 80%, 
            rgba(0,0,0,0.1) 80%,
            rgba(0,0,0,0.1) 90%,
            transparent 90%)
        ; 
        background-image: 
         linear-gradient(-135deg,  
            transparent 20%, 
            rgba(0,0,0,0.1) 20%,
            rgba(0,0,0,0.1) 30%,
            transparent 30%,
            transparent 70%, 
            rgba(0,0,0,0.1) 70%,
            rgba(0,0,0,0.1) 80%,
            transparent 80%),
        linear-gradient(135deg,  
            transparent 20%,
            #dedede 20%, 
            #dedede 30%, 
            rgba(0,0,0,0.1) 30%,
            rgba(0,0,0,0.1) 40%,
            transparent 40%, 
            transparent 70%, 
            #dedede 70%, 
            #dedede 80%, 
            rgba(0,0,0,0.1) 80%,
            rgba(0,0,0,0.1) 90%,
            transparent 90%)
        ; 
    background-size: 6px 6px;	
}