// node-sass styles.scss ../styles.css -w

//NAVIGATION
body {
    background-color: #f4f4f4;
    padding-top: 7px;
} 

header {
    margin-left: 7.6%;
    margin-right: 8.2%;
}

#navbar-brand-custom{
    margin-left: 0;
    padding-top: 25px;
}

.navbar{
    min-height: 100px;
    background-color: #fff;
}

.navbar-custom{
    margin-top: 41px;
         a {
            font-family: 'Kreon', serif;
            font-size: 15px;
            color: #717171;
            margin-right: -5px;
        }
}

.navbar-default .navbar-nav > li > a:hover{
    color: #437d8b;
}

#nav-blog{
    margin-right: 0;
}

.nav-icons{
    color: #e3e3e3;
    margin-right: 5px;
    margin-top: 10px;
    font-size: 13px;
    margin-left: 4px;
}

.nav-search{
    margin-left: 15px;
    margin-right: -13px;
    margin-top: 1px;
}

.input-group-sm > .form-control{
    border-radius: 0;
    height: 27px;
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-top: none;
    border-right: none;
    font-size: 11px;
    font-style: italic;
    padding-left: 12px;
    background-color: #f9f9f9;
}

.glyphicon-search{
    font-size: 13px;
    color: #c2c2c2;
    margin-top: -3px;
}
//END of NAVIGATION

//FOOTER
footer {
    @extend header;
    background-color: #f9f9f9;
    border-top: 1px solid #ececec;
        li {
            color: #929292;
            font-family: 'Droid Sans', sans-serif;
            font-size: 12px;
            margin-bottom: 8px;
            margin-left: -22px;
                a {
                    text-decoration: none;
                    color: #929292;
                }
        }

        h3 {
            color: #1d1d1d;
            font-family: 'Kreon', serif;
            font-size: 20px;
            margin-bottom: 13px;
        }

        .container-fluid {
            padding-top: 16px;
            padding-right: 20px;
            padding-left: 31px;
        }

        img {
            width: 142px;
            height: 36px;
            margin-top: 22px;
            margin-bottom: 7px;
        }

        p {
            color: #929292;
            font-family: 'Droid Sans', sans-serif;
            font-size: 12px;
        }

        .copyright{
            font-size: 12px;
            font-family: 'Kreon', serif;
            color: #717171
        }

        .footerText{
            margin-left: 3px;
        }
}

//END of FOOTER

@media (max-width: 768px){
    .navbar{
        min-height: 50px;
    }   
    #navbar-brand-custom{
    display: none
}
}

// node-sass styles.scss ../styles.css -w